@import url(http://weloveiconfonts.com/api/?family=brandico);

#nav{
	list-style-type: none;
	margin: 0%;
	padding-top: 0%;
	margin-top: 0%;
	padding: 0%;
	background: #fff;
	width: 100%;
	position: fixed;
	

}

.card-square.mdl-card {
  width: 500px;
  height: 500px;
  margin-left: 0%;
  background: #263238

}

.mdl-shadow{
	color: #fff;
}

.card-square > .mdl-card__title {
  color: #fff;
  
  
  background: url('ping.png') top right 55% no-repeat #263238;
  background-size: 60%;

}


.card-square2.mdl-card {
  width: 500px;
   height: 500px;
  margin-left: 30% ;
  margin-top: 2%;
  background: #263238;
  

}

.card-square2 > .mdl-card__title2 {
  color: #fff;

  background: url('teleprompter.png') top right 55% no-repeat #263238;
  background-size:60%;

}

.mdl-card__supporting-text{
	font-size: 1.5em;
	text-align: center;
	color:#dedede;
	font-family: 'lato' ,sans-serif;


}

.txt{
	line-height: 30px;
}


.tops{
padding-top: 5%;
text-align: center;
}
.text{
	
	
	width: 100%;
	padding-top: 3%;
}

.navi a{
	font-family: Roboto;
	display: inline-block;
	color: black;
	text-align: center;
	/*padding: 14px 16px;*/
}

.navi:hover{

	border-color: #f00;
	border-bottom: 2px;
	border-bottom-color: #f00;

}

a:hover{
	color: #f00;
	border-bottom: 2px;
	border-color: #f00;
	text-decoration: none;
}

.navi{
	display: inline;
	float: right;
	margin-right: 5%;
}

body{
	background-image: url('./back.jpg');
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}


.mdl-typography--display-1{
	font-family: 'open sans', sans-serif;
}

.mdl-typography--display-4{
	font-family: 'open sans', sans-serif;
}

.mdl-typography--display-3{
	color:#444;
}

.overlay{
	z-index: 1;
	position: absolute;
	min-height: 120vh;
	min-width: 100vw;
	background: rgba(0,0,0,0.75);
}
.header-color{

	background: rgba(0,0,0,0.75);
}
#fp{
	background-position: center;
	background-size: 100%;
	min-height: 110vh;

}
.content-grid{
	width: 100%;
}
.head{
	padding-top: 15%;
	text-align: center;
	font-family: "Roboto";
	z-index: 2;
	color: #fff;
	position: relative;
}
.subhead{
	position: relative;
	z-index: 2;
	color: #fff;
	text-align: center;
	
	font-family: "Roboto"
}
.oth{
	margin: 0%;
	color: #fff;
	text-align: center;
	padding-top: 10%;
	font-family: "Roboto";
	
}
#arrow{
	margin-top: 10%;
	
	
}
.grid{
	
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;

}
.zpos{
	z-index: 2;
	position: relative;
}
.button {
  border-radius: 4px;
  background-color: #fff;
  border: 1;
  border-color: #f00;
  color: #f00;
  text-align: center;
  font-size: 28px;
  
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  padding: 20px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#contact{
	background: #fff;
	margin: 0%;
}

.button:hover span {
  padding-right: 35px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.pic{


	height: 180px;

}

#intro
{
	margin: 0%;
	background: #fff;
	z-index: 2;
	position: relative;
	
	min-height: 110vh;
	font-family: "Roboto";
	font-size: 1.5em;
	color:#727272; 
	
	
}
.small-head{

	font-family: 'lato';
	margin-bottom: 3%;
	font-size: 2.7em;
	text-align: center;
	color:#dedede; 

}
#projects{
	
	z-index: 2;
	position: relative;
	min-height: 110vh;
	background: #263238;
	
}

.pic-text{
	
	font-size: 1.5em;
	text-align: center;
	color:#dedede; 
}
.wrapper{
	margin-top: 8%;
	font-family: 'lato', sans-serif;
	margin-bottom: 3%;
	border: 2px solid white;

	

}


.end{
	text-align: center;
	font-family: 'Open Sans';
	margin-top: 0%;
	padding-top:2%; 
	font-size: 110%;
	margin-left: 1%;
}


/*------Social Icons----*/

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

ul.social-buttons {
  text-align: center;
}

ul.social-buttons li {
  display: inline-block;
  margin-left: 4px;
 
}

ul.social-buttons li a {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  font-size: 20px;
  line-height: 40px;
  color: white;
}

/**
ul.social-buttons li a.socicon-twitter {
  background-color: #4099FF;
}

ul.social-buttons li a.brandico-facebook {
  background-color: #3B5998;
}

ul.social-buttons li a.brandico-instagram {
  background-color: #3f729b;
}
**/
ul.social-buttons li a.brandico-github {
  background-color: #24292e;
  margin-left: -90%;
}

ul.social-buttons li a.brandico-linkedin {
  background-color: #0e76a8;
}



/**
ul#so li a {
  transition: transform 0.5s ease-in-out;
}

ul#so li:hover a {
  transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}
**/


@media screen and (max-width: 1070px){

	
 .card-square.mdl-card {
  width: 400px;
  height: 400px;
  margin-left: 0%;
  background: #263238

}

.card-square > .mdl-card__title {
  color: #fff;
  
  
  background: url('ping.png') top right 55% no-repeat #263238;
  background-size: 45%;

}


.card-square2.mdl-card {
   width: 400px;
   height: 400px;
   margin-left: 0%;
   
   background: #263238;
  

}

.card-square2 > .mdl-card__title2 {
  color: #fff;

  background: url('teleprompter.png') top right 55% no-repeat #263238;
  background-size: 40%;

}

.mdl-card__supporting-text{
	font-size: 1.5em;
	text-align: center;
	color:#dedede;
	font-family: 'lato' ,sans-serif;


}
}
@media screen and (max-width: 400px){

	.phone{
		font-size: 6.2em;
	}
	.card-square.mdl-card {
  width: 300px;
  height: 300px;
  margin-left: 0%;
  background: #263238

}

.card-square > .mdl-card__title {
  color: #fff;
  
  
  background: url('ping.png') top right 55% no-repeat #263238;
  background-size: 30%;

}



.card-square2.mdl-card {
   width: 300px;
   height: 300px;
   margin-left: 0%;
   
   background: #263238;
  

}

.card-square2 > .mdl-card__title2 {
  color: #fff;

  background: url('teleprompter.png') top right 55% no-repeat #263238;
  background-size: 40%;

}

.mdl-card__supporting-text{
	font-size: 1em;
	text-align: center;
	color:#dedede;
	font-family: 'lato' ,sans-serif;


}
}
